body{
margin: 0;

}

.hearder{
    position: relative ;
    background-color: #EFF25E;
    height: 30vw;
    width: 100vw;
}

.page-color{
    background-color:#1B358E ;
    width: 100vw;
    height: 100vh;

}

.malhas{
  display: flex;
  justify-content: space-between;
}

.lateral{
    width: 10%;
    height: 100vh;
}

.div-wrapper{
    display: flex;
    justify-content: center;
}

.white-board{
    position: absolute;
    background-color: #E5E5E5;;
    height: 450vh;
    width: 80%;
    border-radius: 5%;
    top: 25%;
}

.header-buttons{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 40px;
}

.mobile-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


 #button-center{
     margin-right: 20px ;
 }

 #button-final{
     margin-left: -25px ;
 }

.button{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 50px;
padding-right: 10px;
letter-spacing: 0.03em;
width: 166px;
height: 50px;
left: 40px;
top: 32px;

}

.hearder-itens{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.social-media{
    display: flex;
    align-items: flex-end;
    margin: auto;
}

a{
    text-decoration: none;
}

.title{
margin-top: 28px;
margin-left: 28px;
font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 75px;
line-height: 79px;
letter-spacing: 0.03em;
font-feature-settings: 'liga' off;
color: #1B358E;
}

.text{
margin-top: 28px;
margin-left: 28px;
width: 50%;

}

.paragraph{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 40px;
color:  #1E1E1E;
}

.icon{
    border-radius: 50%;
    background-color: #1B358E;
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 10px;
}

.info{
margin-top: 70px;
margin-left: 28px;
width: 95%;
}

.info-p{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 30px;
text-align: justify;
letter-spacing: 0.05em;

color: #2E2D2D;
}

@media (max-width: 600px) {
    .header-buttons{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    
    .mobile-button{
        display: flex;
        flex-direction: row;
        
    }
    
    .button{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #2E2D2D;
        width: 100px;
        margin-top: 1px;
     }

     .white-board{
        top: 20%;
        bottom: 0;
    }

    #part-2{
        margin-top: -10%;
    }
    #button-center{
        margin-right: 0;
    }
   
    #button-final{
        margin-left:0;
    }

    .title{
        font-size: 26px;
        line-height: 10px;
        margin-top: 29px;
        margin-left: 22px;
    }
    
    .social-media{
        margin-left: -10px;
        margin-top: -20px;
    }
     
    .hearder{
        height: 60vw ;
    }

    .icon{
        width: 25px;
        height: 25px;
    }

    .page-color{
        height: 120vh;
    }

    .lateral{
        height: 100vh;
    }
    .paragraph{
        font-style: normal;
        font-size: 14px;
        color: #1E1E1E;
        width: 90%;
        line-height: 18px;
    }

    .info-p{
    font-size: 12px;
    line-height: 12px;
    color: #2E2D2D;
    width: 88%;
    }

    .h2-sub-titles{
        margin-top: 23px!important;
    }
    .div-horarios >div{
        margin-top: 20px!important;
    }

    .div-horarios>div>p{
        font-size: 18px!important;
    }

    .div-info-evento-green{
        font-size: 18px!important;
        
    }
    .div-info-evento-black{
        font-size: 18px!important;
    }
    .div-n-comparecer > p{
        font-size: 18px!important;
    }

    .div-info-evento{
        margin-top: 20px!important ;
    }
    .white-board{
        height: 310vh;
    }
}



.div-programacao {
    display: flex;
    justify-content: center;
}

.h2-sub-titles {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #1B358E;
}

.div-horarios {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-horarios>div {
    margin-top: 83px;
}

.div-horarios>div>p {
    font-family: Actor;
    color: #2E2D2D;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.03em;
    margin: 0 23px 30px 0;
}

.div-info-evento {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 83px;
}

.div-info-evento-green {
    font-family: Actor;
    color: #189C35;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
}

.div-info-evento-black {
    font-family: Actor;
    font-weight: 300;
    font-size: 35px;
    line-height: 79px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
}

.div-n-comparecer {
    font-family: Actor;
    display: flex;
    flex: row;
    justify-content: space-around;
}

.div-n-comparecer > p {
    font-family: Actor;
    margin-top: 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2E2D2D;
}

.div-ingressos{
    display: flex;
    justify-content: center;
    margin-top: 83px;
}

.widget{
    display: flex;
    justify-content: center;
    margin-top: 83px;
}
